.header {
  max-width: 80%;
  margin: 0 auto;
}

.header__title {
  margin-top: 24px;
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.header__subtitle {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  color: #6d7278;
  font-size: 24px;
  line-height: 1.4;
}

.header__text {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .header__title {
    font-family: "Manrope", "Arial", sans-serif;
    font-weight: 600;
    font-size: 32px;
  }

  .header__subtitle {
    font-family: "Manrope", "Arial", sans-serif;
    font-weight: 400;
    color: #6d7278;
    font-size: 28px;
    line-height: 1.4;
  }

  .header__text {
    font-family: "Manrope", "Arial", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
  }
}
