html {
  scroll-behavior: smooth;
}

.page {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .page {
    max-width: 800px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    max-width: 1200px;
  }
}
