.photo-grid {
  max-width: 80%;
  margin: 10% auto;
}

.photo-grid__card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f3f6bc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 30px;
}

.photo-grid__card-image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px;
}

.photo-grid__card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 10;
  border-radius: 10px;
}

.photo-grid__card-overlay:hover {
  opacity: 1;
}

.photo-grid__card-bottom {
  display: flex;
  flex-direction: column;
}

.photo-grid__card-title {
  margin: 16px 0 8px 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: underline;

  position: relative;
  z-index: 30;
}
.photo-grid__card-text {
  margin: 16px 0 8px 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.photo-grid__card-button_like {
  background-color: white;
  border: 0;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 17px 20px;
    margin: 5% auto;
  }

  .photo-grid__card-title {
    margin: 16px 0 8px 0;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Manrope", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
  }
  .photo-grid__card-text {
    margin: 16px 0 8px 0;
    color: #000;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    font-family: "Manrope", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }

  .photo-grid__card {
    width: 90%;
  }
}
